<div class="card card-body p-3 bg-warning">
  <h4>Nueva Tarea</h4>
  <form action="/tasks/add" method="post">
    {{! Title Input }}
    <div class="mb-3">
      <label for="title">Escribe Título:</label>
      <input
        id="title"
        class="form-control"
        type="text"
        name="title"
        placeholder="(20 caracteres máx.)"
        maxlength="20"
        autofocus
      />
    </div>
    {{! Description Input }}
    <div class="mb-3">
      <label for="description">Escribe Descripción:</label>
      <textarea
        class="form-control"
        name="description"
        placeholder="(40 caracteres máx.)"
        maxlength="40"
      ></textarea>
    </div>
    <button class="btn btn-success" type="submit">Agregar</button>
  </form>
</div>