<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4>Actualizar Tarea</h4>
          <form action="/tasks/{{task._id}}/edit" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="title"
                placeholder="Editar Título"
                value="{{task.title}}"
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Editar Descripción"
              >{{task.description}}</textarea>
            </div>
            <button class="btn btn-warning" type="submit">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>